@model MongodbAspStory.Models.DataModels.Login
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/StyleUser/assets/Login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-7">
                                <div class="card-body p-md-5 mx-md-4">
                                    <div class="text-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                             style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">Chào mừng bạn đến với trang Đăng Nhập</h4>
                                    </div>
                                    <h4>
                                        <b class="text-success">@TempData["Message"]</b>
                                        <b class="text-danger">@TempData["MessageErr"]</b>
                                        @if (@HttpContextAccessor.HttpContext.Session.GetString("LoginStatus") == "Đang bị khóa tạm thời" && @HttpContextAccessor.HttpContext.Session.GetString("LoginStatus") == "Đã bị xóa")
                                        {
                                            <b class="text-danger">Tài khoản này: @HttpContextAccessor.HttpContext.Session.GetString("LoginStatus")</b>
                                        }
                                    </h4>
                                    <form action="" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <p>Vui lòng Đăng Nhập vào tài khoản của bạn!</p>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example11">Gmail</label>
                                            <input type="email" name="Email" id="form2Example11" class="form-control"
                                                   placeholder="Nhập Email theo kiểu như sau: abc@gmail.com" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example22">Password</label>
                                            <input type="password" name="Password" id="form2Example22" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit"> Log in </button>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center pb-4">
                                            <a asp-controller="Login" asp-action="Register">Nếu bạn chưa có tài khoản? Vui lòng chọn vào đây để Tạo Tài Khoản?</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-5 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">Shops chuyên về truyện tranh</h4>
                                    <p class="small mb-0">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Placeat eos officiis fugit non iure ipsam ab dolores facilis aperiam hic,
                                        dolorem dolore odit numquam quidem neque incidunt quisquam illum consequatur!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}